.footer {
    background-color: #2c343e;
    padding-top: 47px;
    padding-bottom: 47px;
    margin-top: 200px;
}
.footer__content{
    display: flex;
    align-items: center;
    gap: 368px;
    padding-left: 85px;
    padding-right: 85px;
}
.footer__list{
    display: flex;
    align-items: center;
    gap: 32px;
}
.footer__link{
    font-family: var(--second-family);
font-weight: 700;
font-size: 12px;
line-height: 125%;
letter-spacing: 0.08em;
text-transform: uppercase;
color: #83888f;
}
.footer__link:hover{
    color: aliceblue;
}